<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite"  verbose="1" parallel="methods" thread-count="3">
    <test name="MACTEST FIREFOX" annotations="JDK"
          preserve-order="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="windows"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>

